/*
   El valor border-box en el box-sizing hace que el padding y el border pasen a formar parte
   del cálculo del ancho de la caja.
 */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

